<%- include("../partials/header") %>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <h1 class="form-header" >Edit <%= user.username %>'s Profile</h1>
                <div class="form-body">
                    <form action="/users/<%= user._id %>/?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="user[email]">Email</label>
                            <% if (user.email) { %>
                                <input class="form-control" type="text" name="user[email]" value="<%= user.email %>">
                            <% } else { %>
                                <input class="form-control" type="text" name="user[email]" placeholder="Email">
                            <% } %>
                        </div>
                        <div class="form-group">
                            <label for="avatar">Profile Image (Optional)</label>
                            <input type="file" id="avatar" name="avatar" accept="image/*">   
                        </div>
                        <div class="form-group">
                            <label for="user[description]">About</label>
                            <textarea class="form-control" name="user[description]" rows="3" required><%= user.description %></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-success btn-block">Submit!</button>
                        </div>
                    </form>
                    <a href="/users/<%= user._id %>/">Go Back</a>
                </div>		
            </div>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>

